<div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
   <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Cadastrar</h5>
            <p class="card-text">cadastre seus produtos no banco de dados.</p>
            <a href="/primeira_pagina" class="btn btn-primary">cadastrar</a>
        </div>
    </div>

    <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Consultar</h5>
            <p class="card-text">veja seus produtos cadastrados edite ou esclua os produtos.</p>
            <a href="/consulta" class="btn btn-primary">Consultar</a>
        </div>
    </div>

    <div class="card text-center mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Gpt</h5>
            <p class="card-text">Gere descrições e palavras chaves para os seus produtos</p>
            <a href="/gpt" class="btn btn-primary">Gerar</a>
        </div>
    </div>
</div>
  
